.Dynamic-Lineup {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.upload-form {
  border: 1px solid black;
  order: 1;
}

#gen-button {
  order: 2;
  margin-top: 10px;
}

#header-gen-lineups {
  order: 3;
}

#generated-lineup {
  order:  4;
  margin-right: 20px;
}

input {
  margin: 10px 5px 10px 5px;
}

.button {
  width: 25%;
  margin: 10px 0px 10px 0px;
  align-self: center;
}