.App {
  text-align: center;
}

.App-logo {
  height: 70px;
  float: left;
}

.App-header {
  background-color: rgb(13, 108, 197);
  height: 70px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}