body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  height: 40vh;
}

thead {
  display: flex;
  color: #212121;
}

.player-detail {
  width: 110px;
}

.lineup-table {
  padding: 10px;
  background-color: #C5C4C4;
  color: #BBDEFB;
  border: 3px solid black;
}

.player-row {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  color: grey;
  border: 1px solid #BDBDBD;
}

.table-header {
  text-align: center;
  color: #212121;
}

.weather {
  font-size: 12px;
  color: black;
}